@import "stylesheets/decidim/alternative_landing/content_blocks/variables";
@import "@splidejs/splide/dist/css/splide.min.css";

.alternative-landing {
  &.sidebar-right-stack {
    .column_one {
      background-position-y: bottom 6px;
      background-position-x: right;
      background-size: 25%;
    }

    .column_two {
      .stack_one {
        height: 40vh;

        .meeting {
          min-height: 100px;
        }
      }
      .stack_two {
        height: 40vh;
      }
    }
  }
}

